<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo Productos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/iconos/login.svg">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body class="bg-light d-flex justify-content-center align-items-center min-vh-100">

<div th:replace="~{index :: menu}"></div>

<div class="bg-F3EBE1 mt-5">
    <div class="container d-flex flex-column justify-content-center align-items-center w-100 p-3">
    </div>

    <h2 class="text-center text-brown mb-5">Catálogo Productos</h2>

    <div th:if="${mensajeExito}" class="alert alert-success alert-dismissible fade show" role="alert">
        <p th:text="${mensajeExito}"></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${mensajeError}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <p th:text="${mensajeError}"></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="filter-sidebar">
                <h5 class="text-brown">Filtrar por</h5>

                <form id="filtroForm" th:action="@{/catalogo-productos}" method="get">
                    <div class="mb-3">
                        <label for="categoriaProducto" class="form-label text-brown">Categoría</label>
                        <select class="form-select" id="categoriaProducto" name="categoriaProducto">
                            <option value="" selected disabled>Seleccione la categoría</option>
                            <option th:each="categoria : ${categorias}" th:value="${categoria.idCategoria}"
                                    th:text="${categoria.nombreCategoria}"
                                    th:selected="${param.categoriaProducto != null and param.categoriaProducto.toString() == categoria.idCategoria.toString()}"></option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="nombreProducto" class="form-label text-brown">Nombre Producto</label>
                        <input type="text" class="form-control" id="nombreProducto" name="nombreProducto"
                               th:value="${param.nombreProducto}">
                    </div>

                    <div class="mb-3">
                        <label for="precioMinimo" class="form-label text-brown">Precio Mínimo</label>
                        <input type="number" class="form-control" id="precioMinimo" name="precioMinimo" min="3000"
                               max="100000" step="100" th:value="${param.precioMinimo}">
                    </div>

                    <div class="mb-3">
                        <label for="precioMaximo" class="form-label text-brown">Precio Máximo</label>
                        <input type="number" class="form-control" id="precioMaximo" name="precioMaximo" min="3000"
                               max="100000" step="100" th:value="${param.precioMaximo}">
                    </div>

                    <button type="submit" class="btn btn-catalogo shadow w-100 mt-2">Aplicar Filtros</button>
                    <button type="button" class="btn btn-catalogo shadow w-100 mt-2" onclick="limpiarFiltros()">Limpiar
                        Filtros
                    </button>
                </form>
            </div>
        </div>

        <div class="col-md-9">
            <div class="d-flex justify-content-between mb-3">
                <p><strong th:text="${productos.size()}">0</strong> Productos encontrados</p>
                <form th:action="@{/catalogo-productos}" method="get" class="d-flex align-items-center">
                    <select class="form-select me-2" name="ordenarPor"
                            onchange="this.form.submit(); updateOrderText(this)">
                        <option value="mayor">Ordenar por:</option>
                        <option value="menor">Ordenar por: Precio menor a mayor</option>
                        <option value="mayor">Ordenar por: Precio mayor a menor</option>
                    </select>
                    <input type="hidden" name="categoriaProducto" th:value="${param.categoriaProducto}"/>
                    <input type="hidden" name="nombreProducto" th:value="${param.nombreProducto}"/>
                    <input type="hidden" name="precioMinimo" th:value="${param.precioMinimo}"/>
                    <input type="hidden" name="precioMaximo" th:value="${param.precioMaximo}"/>
                </form>
            </div>

            <div class="row g-4">
                <div class="col-md-4" th:each="producto : ${productos}">
                    <div class="card h-100">
                        <img th:src="@{'https://proyecto-grado-niyovi.s3.us-east-2.amazonaws.com/' + ${producto.imagenProducto}}"
                             class="card-img-top product-img" alt="Imagen Producto">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${producto.nombreProducto}">Nombre Producto</h5>
                            <p class="card-text" th:text="${producto.descripcionProducto}">Descripción Producto</p>
                            <p class="text-danger fw-bold"
                               th:text="${@productoController.formatoPrecio(producto.precioProducto)}">$0</p>
                            <p class="text-secondary">Unidades disponibles: <span
                                    th:text="${producto.stockProducto}"></span></p>

                            <p class="text-danger fw-bold" th:if="${producto.stockProducto == 0}">Producto agotado.</p>

                            <div class="input-group mb-3" th:if="${producto.stockProducto > 0}">
                                <button class="btn btn-outline-secondary btn-quantity" type="button"
                                        onclick="decreaseQuantity(this)">-
                                </button>
                                <input type="number" class="form-control text-center" value="1" min="1"
                                       th:max="${producto.stockProducto}">
                                <button class="btn btn-outline-secondary btn-quantity" type="button"
                                        onclick="increaseQuantity(this)">+
                                </button>
                            </div>

                            <div class="text-danger small mensaje-stock" style="display: none;">Solo hay <span
                                    class="max-stock"></span> unidades disponibles.
                            </div>

                            <button type="button" class="btn btn-success btn-catalogo shadow"
                                    th:disabled="${producto.stockProducto == 0}"
                                    th:data-product-id="${producto.idProducto}">
                                Añadir al carrito
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

<script>
    function mostrarMensaje(texto, esError = false) {
        const mensajeFlotante = document.getElementById('mensajeFlotante');
        const textoMensaje = document.getElementById('textoMensaje');
        textoMensaje.textContent = texto;
        mensajeFlotante.style.background = esError ? "rgba(220, 53, 69, 0.9)" : "rgba(40, 167, 69, 0.9)";
        mensajeFlotante.style.display = 'block';
        setTimeout(() => {
            mensajeFlotante.classList.add('hide');
            setTimeout(() => {
                mensajeFlotante.style.display = 'none';
                mensajeFlotante.classList.remove('hide');
            }, 500);
        }, 3000);
    }

    function decreaseQuantity(button) {
        let input = button.nextElementSibling;
        if (input.value > 1) {
            input.value = parseInt(input.value) - 1;
        }
    }

    function increaseQuantity(button) {
        let input = button.previousElementSibling;
        input.value = parseInt(input.value) + 1;
    }

    function agregarAlCarrito(productId, cantidad, nombreProducto, precioProducto, descripcionProducto, imagenProducto) {
        let cart = JSON.parse(localStorage.getItem('cart')) || {};
        cart[productId] = {
            cantidad: (cart[productId]?.cantidad || 0) + cantidad,
            nombre: nombreProducto,
            precio: precioProducto,
            descripcion: descripcionProducto,
            imagen: imagenProducto
        };
        localStorage.setItem('cart', JSON.stringify(cart));
        actualizarCarrito();
    }

    document.querySelectorAll('.btn-success').forEach(btn => {
        btn.addEventListener('click', function () {
            const productId = this.getAttribute('data-product-id');
            const card = this.closest('.card');
            const cantidad = card.querySelector('input[type="number"]').value;
            if (cantidad <= 0 || isNaN(cantidad)) {
                mostrarMensaje("No se pueden agregar 0 productos al carrito.", true);
                cantidadInput.focus();
                return;
            }
            const nombreProducto = card.querySelector('.card-title').textContent;
            const precioProducto = card.querySelector('.text-danger').textContent.replace('$', '').replace('.', '');
            const descripcionProducto = card.querySelector('.card-text').textContent;
            const imagenProducto = card.querySelector('.card-img-top').src;
            agregarAlCarrito(productId, parseInt(cantidad), nombreProducto, parseFloat(precioProducto), descripcionProducto, imagenProducto);
            mostrarMensaje("Producto agregado al carrito.");
        });
    });

    function actualizarCarrito() {
        let cart = JSON.parse(localStorage.getItem('cart')) || {};
        let totalItems = Object.values(cart).reduce((acc, item) => acc + item.cantidad, 0);
        const cartCountElement = document.getElementById('cart-count');
        cartCountElement.textContent = totalItems;
    }

    function limpiarFiltros() {
        window.location.href = "/catalogo-productos";
    }

    document.addEventListener('DOMContentLoaded', actualizarCarrito);

    document.querySelectorAll('.card').forEach(card => {
        const inputCantidad = card.querySelector('input[type="number"]');
        const btnAgregar = card.querySelector('.btn-success');
        const mensajeStock = card.querySelector('.mensaje-stock');
        const spanMaxStock = mensajeStock?.querySelector('.max-stock');
        if (!inputCantidad || !btnAgregar) return;
        const maxStock = parseInt(inputCantidad.getAttribute('max'));
        const validarCantidad = () => {
            const valor = parseInt(inputCantidad.value);
            if (valor > maxStock) {
                inputCantidad.value = maxStock;
                btnAgregar.disabled = true;
                if (mensajeStock && spanMaxStock) {
                    spanMaxStock.textContent = maxStock;
                    mensajeStock.style.display = 'block';
                }
            } else if (valor < 1) {
                btnAgregar.disabled = true;
                if (mensajeStock) mensajeStock.style.display = 'none';
            } else {
                btnAgregar.disabled = false;
                if (mensajeStock) mensajeStock.style.display = 'none';
            }
        };
        inputCantidad.addEventListener('input', validarCantidad);
        const btnMas = card.querySelector('.btn-quantity:last-child');
        const btnMenos = card.querySelector('.btn-quantity:first-child');
        btnMas?.addEventListener('click', () => {
            setTimeout(validarCantidad, 50);
        });
        btnMenos?.addEventListener('click', () => {
            setTimeout(validarCantidad, 50);
        });
        validarCantidad();
    });
</script>

<div id="mensajeFlotante" class="mensaje-flotante" style="display: none;">
    <p id="textoMensaje"></p>
</div>

</body>
</html>