<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Pedido</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/iconos/login.svg">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body class="bg-light d-flex justify-content-center align-items-center min-vh-100">

<div th:replace="~{index :: menu}"></div>

<div class="bg-F3EBE1 mt-5">
    <div class="container d-flex justify-content-center align-items-center w-100 p-3">
    </div>

    <h2 class="text-center text-brown mb-5">Editar Pedido</h2>

    <form th:action="@{/editar-pedido}" method="post" th:object="${pedido}">

        <input type="hidden" name="idCompra" th:value="*{idCompra}">

        <div class="mb-3">
            <label for="estadoCompra" class="form-label text-brown">Estado</label>
            <select id="estadoCompra" name="estadoCompra.idEstado" class="form-select" required>
                <option value="" disabled>Seleccione el estado</option>
                <option th:each="estado : ${estados}" th:value="${estado.idEstado}"
                        th:text="${estado.nombreEstado}"
                        th:selected="${estado.idEstado == pedido.estadoCompra.idEstado}">
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label for="observacionCompra" class="form-label text-brown">Observación</label>
            <textarea id="observacionCompra" name="observacionCompra" class="form-control"
                      th:text="*{observacionCompra}" rows="4" cols="50"></textarea>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-custom shadow">Actualizar</button>
        </div>
    </form>
</div>

<footer class="bg-dark text-center text-white py-9 mt-10 fixed-bottom img-fluid">
    <img src="3.png" alt="footer" style="max-width: 100%; height: auto;"/>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
