<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/iconos/login.svg">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<div th:replace="~{index :: menu}"></div>

<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active c-item">
            <img src="Extra1.jpeg" class="d-block w-100 c-img" alt="Slide 2">
        </div>
        <div class="carousel-item c-item">
            <img src="Extra2.jpeg" class="d-block w-100 c-img" alt="Slide 2">
            <div class="carousel-caption top-0 mt-4">
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="Extra2.jpg" class="d-block w-100 c-img" alt="Slide 3">
            <div class="carousel-caption top-0 mt-4"></div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container mt-5">
    <h2 class="text-center mb-4">Cómo nos ven nuestros clientes</h2>

    <div class="text-center mb-4">
        <h4>Promedio de Calificación:
            <span th:text="${#numbers.formatDecimal(promedioCalificacion,1,1)}"></span>
            <i class="fas fa-star star"></i>
        </h4>
    </div>

    <div id="reseñas-container">
        <div class="card mb-3" th:each="reseña, iter : ${reseñas}"
             th:attr="style=${iter.index < 5 ? '' : 'display: none;'}">
            <div class="card-body">
                <h5 class="card-title">
                <span th:if="${reseña.usuarioCompra != null}"
                      th:text="${reseña.usuarioCompra.nombresUsuario + ' ' + reseña.usuarioCompra.apellidosUsuario}">Usuario</span>
                    <span th:unless="${reseña.usuarioCompra != null}">Usuario Anónimo</span>
                </h5>
                <div class="mb-2">
                <span th:each="i : ${#numbers.sequence(1, reseña.calificacionCompra)}">
                    <i class="fas fa-star star"></i>
                </span>
                </div>
                <p class="card-text" th:text="${reseña.reseñaCompra}"></p>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button id="verMas" class="btn btn-primary">Ver más</button>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let visibleCount = 5;
        const reseñas = document.querySelectorAll("#reseñas-container .card");
        const verMasBtn = document.getElementById("verMas");
        verMasBtn.addEventListener("click", function () {
            let hiddenReviews = 0;
            reseñas.forEach((review, index) => {
                if (index >= visibleCount && hiddenReviews < 5) {
                    review.style.display = "block";
                    hiddenReviews++;
                }
            });
            visibleCount += hiddenReviews;
            if (visibleCount >= reseñas.length) {
                verMasBtn.style.display = "none";
            }
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
